.box{
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius:5px ;
  
}
.boxcontainer{
  display: inline-grid ;
  grid-template-columns: 70px 70px 70px ;
  gap: 5px;
  min-width: 230px;

}
.container{
  display: grid ;
  grid-template-columns: 70px 70px 70px ;
  gap: 5px; 
  padding-left: 230px;
  padding-bottom: 5px;
  padding-top: 5px;
}
button{
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  border: 1px solid;
  border-radius: 5px;
  padding:5px;
  margin: 5px;
  display: inline;
  font-size: larger;
  font-weight: 600;
}